[2015-10-19 14:40] denibertovic opened #5 "Write documentation (How to use tutorial)"
We needz docs.

[2015-10-19 14:40] denibertovic opened #6 "Integrate tests with TravisCI"
So that we can run them on PR's.

[2016-06-24 20:26] jprider63 opened #10 "unimplemented RSA signature hash type: HashSHA384"
I was getting the following error while attempting to connect with ssl:

    TlsExceptionHostPort (HandshakeFailed (Error_Misc "unimplemented RSA signature hash type: HashSHA384"))

It looks like support for HashSHA384 was added in tls-1.3.7. I'm currently updating to stackage lts-5.18, so hopefully that takes care of it.

This issue is mostly for future reference in case someone else runs into th

[2016-07-04 13:06] denibertovic commented on #6
Solved via: https://github.com/denibertovic/docker-hs/commit/9695cd0c1fb76179b2ad0f61d6047916e70a471b

Thank you @ocramz !! :cake:

[2016-07-04 13:06] #6 closed

[2016-07-04 14:10] denibertovic commented on #10
Thanks. I'd like to leave the issue open as a reminder.

[2016-07-31 12:30] denibertovic commented on #10
Closing this as it was resolved.

[2016-07-31 12:30] #10 closed

[2016-07-31 12:32] denibertovic opened #12 "Things that need to happen for a new release"
- [x] Documentation (we need a little more haddock and some basic usage/tutorial in the README)
- [x] Review dependencies in the cabal file. I've been adding all sorts of things there while playing around and I'm not sure all of it is needed.
- [x] Set version bounds in the cabal file.
- [x] Add more tests (most importantly tests that check that we properly serialize/de-serialize json)
- [x] Move

[2016-07-31 12:34] denibertovic commented on #5
Related to #12

[2016-08-04 08:20] denibertovic opened #13 "Add streaming support to certain endpoints"
We should look into adding streaming support for certain endpoints. Currently only the logs endpoint and the build endpoint come to mind.

The way reading logs is implemented now is not that great as we consume the entire response at once
rather than chunk by chunk. For large log outputs this can be a problem.

This even more important for the build endpoint as we're sending a tar.gz of the build

[2016-08-09 19:03] denibertovic opened #14 "Travis build fails because precise vs. trusty issue"
Since we're targeting docker 1.12 and Travis has not yet upgraded to that version we're installing it manually (see travis.yml). The issue is that the package name (and apt repo for that matter) has to reference the correct Ubuntu version but Travis is apparently switching between Precise and Trusty randomly on each job.

[2016-08-09 19:12] denibertovic commented on #14
This should fix the problem: https://github.com/denibertovic/docker-hs/commit/d55e575d49f037cd5efa2ce432b77b141a580abe by specifically requiring trusty.

However the test are failing: https://travis-ci.org/denibertovic/docker-hs/builds/151017201 for some reason.

[2016-08-09 19:43] denibertovic commented on #14
It seems it was a cache issue. I'm not entirely sure how that happened but clearing the cache helped.
https://travis-ci.org/denibertovic/docker-hs/builds/151017201

Closing.

[2016-08-10 12:00] denibertovic commented on #14
Apparently this is not fixed: https://travis-ci.org/denibertovic/docker-hs/builds/151175552

I can't reproduce locally (test pass every time). I'll try and look into it later.

[2016-09-06 20:19] denibertovic commented on #12
We obviously use more tests (and we should add them in later releases) and documentation (the same) but for now, since 0.3.0.0 is released. I'm closing this.

[2016-09-06 20:19] #12 closed

[2016-09-07 04:16] jprider63 commented on #13
Here are two potential solutions Deni and I have been considering.

One option is to modify the `DockerT` monad transformer to hold a HTTP `Manager` instead of a `HttpHandler`. This is less than ideal since users are unable to replace the request handler with a custom implementation if they want.

Another option is to add an additional argument to `HttpHandler` that accepts a conduit sink. The dis

[2016-09-07 09:14] denibertovic commented on #5
For now there's some code in `examples/Example.hs`.

[2016-09-09 12:50] denibertovic commented on #13
I'm partial to this method. It seems like a simpler solution. I don't think it's that big of a deal to constrain the user to conduit...for now anyway...that is for the next release. If we find out that it's a huge issue we can always release a new major version where we address this.

[2016-09-09 17:48] denibertovic commented on #13
It appears that modifying the code to support a streaming request (for the purpose of building images...ie. when sending the build context to the daemon) is pretty straightforward and doesn't even
break API, I don't think. I need to work on it a bit more before pushing but it seems to be working out ok
so far.

Hopefully I'll have time over the weekend to take a crack at the streaming response par

[2016-09-12 12:24] denibertovic commented on #13
@jprider63 I've pushed the changes I've made to get the `buildImageFromDockerfile` implemented to the `streaming` branch. It's still pretty rough as  I'm not sure if I'm catching everything I need to be catching (IO heavy). But it's definitely streaming everything that needs to be streamed from what I can tell (I've tested with having a very large build context directory 5GB...ie. it doesn't load

[2016-09-12 18:10] ChristopherBiscardi opened #16 "docker socket"
@denibertovic What's the status of docker socket support? I see [unixHttpHandler](https://github.com/denibertovic/docker-hs/blob/b5d98d6ec3dda53f32c1bd67756cb0021540f810/src/Docker/Client/Http.hs#L116) but it doesn't look like it's being used.

My use case is that Docker for Mac exposes the docker socket, which I would like to use instead of running an additional container to get "on the network".

[2016-09-12 18:21] #16 closed

[2016-09-12 18:21] ChristopherBiscardi commented on #16
/me facepalm

I skipped right over the option to use it instead of `defaultHttpHandler`.

[2016-09-14 10:07] denibertovic commented on #13
Eh, it seems the process that should ignore some files/folders has a bug int it's implementation. Which is a show stopper mostly. The way it works is that .dockerignore can contain a pattern like ".git" which will not match ".git/description". One would assume that it would given that popular implementations (.gitignore, .dockerignore) work this way but every glob matching library will return Fals

[2016-09-14 14:18] jprider63 commented on #13
Wow I'm surprised that we don't need to use http-conduit to support upload streaming. That's kind of nice.

Looking at the [dockerignore documentation](https://docs.docker.com/engine/reference/builder/#/dockerignore-file), it looks relatively complicated. Maybe it's worthwhile to implement our own parser.

[2016-09-15 08:51] denibertovic commented on #13
@jprider63 I did have to use conduit here: https://github.com/denibertovic/docker-hs/blob/streaming/src/Docker/Client/Internal.hs#L87

I had to construct a chunked request. But from what I can tell that's the only needed change and it didn't change the API of the lib.

Re dockerignore/build stuff: currently it's not really an issue to parse the file .. that was relatively straightforward...the iss

[2016-09-16 10:52] denibertovic commented on #13
@jprider63 I think I've fixed the issue I was seeing before. We are excluding the correct files on all of my projects that I've tested with. There is one small issue left (precedence rules) that we ignore for now,
and I've noted this in the commit message and in the comments in the code for future releases. I don't find this terribly important for now mainly because I haven't been using the includ

[2016-09-19 18:09] jprider63 commented on #14
It looks like Travis is working now. Should we close this?

[2016-09-20 11:58] denibertovic commented on #14
@jprider63 yeah we can close this...I haven't seen this issue in a while now. If it occurs again we can investigate and we at least we know that clearing the build cache gets it working again.

[2016-09-20 11:58] #14 closed

[2016-10-28 12:37] avnik opened #18 "Add copy in/out support"
Would be nice to implement `archive` endpoint.

https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/get-an-archive-of-a-filesystem-resource-in-a-container
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/extract-an-archive-of-files-or-folders-to-a-directory-in-a-container

PS I'd like to try implement it myself, but possible need little guiding/hinting

[2016-12-01 11:53] denibertovic commented on #13
I've been tied up with work for some time now. I'm probably going to revisit this approach in December again. The priority still stands....implement build, push, pull functionality first and go from there.

[2017-01-21 15:07] denibertovic commented on #13
@jprider63 I've been trying on-and-off to wiggle http-conduit into this design for the pull image and logs endpoint but I'm not able to get it to work.

[2017-01-23 10:59] kseo opened #24 "Don't use deprecated APIs"
Building docker-hs emits -Wdeprecations warnings.

[code]

If there is no reason to use these deprecated APIs, I will create a PR to replace them.

[2017-01-23 12:58] jprider63 commented on #13
I'm currently out of town, but I should be able to look at this once I get back. Have you pushed anything you've tried so far?

[2017-01-26 17:46] denibertovic commented on #13
@jprider63 I haven't pushed anything new to the streaming branch since I haven't gotten it to work at all...And it feels wrong to push broken stuff especially when it comments out most of the code. I'm kind of rethinking the design at this point....if we should be using conduit or something else (like pipes).

[2017-02-09 15:09] denibertovic commented on #24
@kseo I don't see a reason why we can't switch to the new functions. :+1:  cc @jprider63

[2017-02-09 17:54] jprider63 commented on #24
👍

[2017-02-09 18:22] jprider63 commented on #13
I can look at this a bit today. It might be helpful to see what you've tried. Maybe push to a different, temporary branch?

[2017-02-10 17:36] jprider63 commented on #13
I took [a shot](https://github.com/denibertovic/docker-hs/compare/streaming...jprider63:streaming) at implementing this. It compiles, but I haven't had a chance to test it much yet. Here are a few comments:

- I had to change `HttpHandler` to a newtype wrapper since I had to use existentials to keep it in the `ReaderT`. I'm still trying to figure out a way to leave it as a type alias, but I'm not

[2017-02-15 06:54] kseo commented on #24
I created #25

[2017-02-15 09:55] denibertovic commented on #13
@jprider63 Thanks! :cake: It compiles, and yes the second argument to ContainerLogsEndpoint (follow) should be true since this will indicate to the daemon that we want the stream.

I haven't had time to play around with it yet other than trying a few minutes with ghci but this is what I get:

    λ: runDockerT (defaultClientOpts, defaultHttpHandler) $ getDockerVersion

    <interactive>:2:32:

[2017-03-10 02:39] jprider63 commented on #13
I've fixed the tests for the streaming branch and merged dev into streaming (I needed some of it's functionality). Think we can release this new version soon? I'll create a pull request soon.

[2017-03-18 21:23] denibertovic commented on #13
Closed via #26  :cake: :+1:

[2017-03-18 21:23] #13 closed

[2017-03-18 21:29] denibertovic opened #27 "Deleting "dev" branch"
Hey @jprider63  @kseo  just wanted to let you know I've deleted the dev branch. I don't think we need the "git-flow" dev branch in this repo since it complicates thing and imo is overkill. From here on we're just going to treat master as the main branch for everything that's coming in (All PR's should be based on master and committed back to it.)

We will continue to use tags for new releases but

[2017-03-18 21:29] denibertovic commented on #27
Just wanted to let you guys know. Closing this issue.

[2017-03-18 21:31] #27 closed

[2017-03-18 21:31] denibertovic opened #28 "Cherry pick closed PR's"
2 PRs should not have been closed. See here for explanation: #27

Cherry pick #22  and #25 back into master (with the requested changes fixed).

[2017-03-20 03:29] jprider63 commented on #27
Sounds good. What do we need for a 0.4.0.0 hackage release? Just merge @kseo's PRs?

[2017-03-20 15:48] denibertovic commented on #27
@jprider63 I only just saw this..... I'm going to release @kseo PR's as a follow up. Didn't wanna wait for that. I might get a change this week to work on it more.

[2017-03-20 19:57] jprider63 commented on #27
Ok, makes sense.

[2017-03-24 14:13] denibertovic commented on #28
Done in #30  and #29

[2017-03-24 14:13] #28 closed

[2017-03-24 14:13] denibertovic commented on #24
Closing as this has been merged in #30

[2017-03-24 14:13] #24 closed

[2017-06-09 19:50] jprider63 opened #31 "Decoding json for inspect container fails"
Decoding the json response for inspecting a container fails. The following:

[code]

leads to the following error: `Error in $.HostConfig: failed to parse field HostConfig: expected Bool, encountered Null`. I think this is due to `OomKillDisable` being `null`.

[2017-06-29 06:12] #31 closed

[2017-08-14 14:26] DaQuirm opened #33 "Update dependencies to work with the stack lts-9 resolver"
Hi, thank you for this module!
I'd like to ask, would it be difficult to make it work with the latest stack resolver (lts-9)?
Could I do that and make a contribution?

[2017-08-25 18:46] jprider63 commented on #33
I imagine it wouldn't be too difficult. If you can do that and maintain backwards compatibility, that would be great!

[2017-08-28 17:09] denibertovic commented on #33
@DaQuirm  I don't think it would be too difficult. However, I don't think I'm gonna have time to work on this anytime soon. I'd welcome a PR though if you wanna take a shot at it.

[2017-09-12 16:18] locallycompact commented on #33
I had a go at this here https://github.com/denibertovic/docker-hs/pull/34

[2017-09-15 13:44] DaQuirm commented on #33
Awesome, thanks you @locallycompact! 💜

[2017-09-20 04:44] jprider63 opened #36 "Add to stackage"
We should add this package to [stackage](https://github.com/fpco/stackage/blob/master/MAINTAINERS.md#adding-a-package). @denibertovic, should you and I be co-maintainers?

[2017-09-22 16:14] denibertovic commented on #33
Closed via #35 . Thanks @locallycompact  and @jprider63 once again. :cake:

[2017-09-22 16:14] #33 closed

[2017-09-22 16:15] denibertovic commented on #36
@jprider63 that sounds like a plan! :) I'll make sure to get this done over the weekend.

[2017-10-03 23:34] denibertovic commented on #36
I made the necessary version bounds changes and checked that the latest release builds with nightly. I'm going to submit a PR tomorrow with the package added to nightly.

[2017-10-03 23:43] jprider63 commented on #36
Great thanks!

[2017-10-04 08:39] denibertovic commented on #36
PR here: https://github.com/fpco/stackage/pull/2931

@jprider63 this only adds the package to nightly btw...so it's going to be in the next LTS.
I'm not sure if you wanted to add it to the existing LTS releases?

[2017-10-04 15:36] jprider63 commented on #36
That's probably fine. Looks like they just merged it. Thanks!

[2017-10-04 15:36] #36 closed

[2017-10-17 13:30] SKoschnicke commented on #5
I would like to help.

I saw there is a small tutorial in `src/Docker/Client.hs` but it would be nice to have something like that in the `README.md` which is shown here on GitHub and at Hackage.

A more complete cookbook-style document would also be nice.

What do you think?

[2017-10-17 13:34] SKoschnicke opened #37 "Contribution-Documentation"
I would like to add a guide how to setup the development environment for contributing to the project in `CONTRIBUTING.md` (which is a stub currently). Is a pull request for that welcome? Any pointers to already existing documentation?

[2017-10-17 16:16] jprider63 commented on #5
It'd be great to have more documentation. Any effort on this front would be appreciated.

@denibertovic, do you have any thoughts on how this should be structured? Maybe the README.md should link to src/Docker/Client.hs (or wherever it ends up), so that it's easier to find.

[2017-10-17 16:27] jprider63 commented on #37
There is some text in the `Contributing` section of `README.md`. @denibertovic, should we keep this where it is and link to it in `CONTRIBUTING.md`, or move this text into `CONTRIBUTING.md`?

Maybe it makes sense to add a `Development environment` section to `README.md`. This probably would involve links to install docker and how to run the tests (something like `RUN_INTEGRATION_TESTS=1 stack test

[2017-10-17 20:10] SKoschnicke commented on #37
Okay, I will put something together tomorrow (central european time)! I think there should be some text directly in `CONTRIBUTING.md` because GitHub links to that file in notification texts.

[2017-10-17 21:35] denibertovic commented on #37
@SKoschnicke @jprider63 I agree that it's useful to add this stuff into CONTRIBUTING.md because then it will get linked on each new issue/pr creation...which is nice. So 👍

I'm not sure as to the content of that file...Currently it's just the stuff we have already in the readme...unless we wanna come up with more process. But.....I'm not sure we need too much process at this time.

As for adding d

[2017-10-18 07:35] SKoschnicke commented on #37
Added a PR, open for discussion :-)

[2017-10-18 13:05] #37 closed

[2017-10-18 13:11] denibertovic commented on #5
@SKoschnicke Yes! Any documentation effort is very welcome! Especially cookbook style docs.

It wold be nice if these things got included in the README but I'm vary of duplicating examples in haddocks and in the README. Also I'd very much like it if the examples got compiled with the projects so that we know that they work and don't get out of sync (perhaps something like a Tutorial modules like i

[2017-10-24 13:48] locallycompact opened #39 "buildImageFromDockerfile returning `Right ()` when server reports error: invalid reference format"
Hi, I have pushed this error to the repository [here](https://gitlab.com/locallycompact/FullMetalHaskell/tree/lc/invalid_reference_format) at branch lc/invalid_reference_format. Clone recursively.

The code is in the Shakefile, use `stack exec shake dockers` to observe the error. The getDockerVersion call works, whilst the buildImageFromDockerfile returns `Right ()` but does not execute a build an

[2017-10-27 18:01] jprider63 commented on #39
I haven't used this functionality and didn't write this code, so @denibertovic might know more.

It looks like docker still [returns 200 even if there is an error](https://docs.docker.com/engine/api/v1.24/#32-images). It looks like docker also returns multiple json statuses in the response body.

The solution to this might be to switch to `requestHelper` instead of `requestUnit` in `buildImageFrom

[2017-10-27 18:08] jprider63 commented on #39
What does this endpoint return on success? Should we return a `ContainerID` instead of `()`?

[2017-10-28 14:15] portnov opened #41 "No error message for obviously incorrect request"
I try to start or stop a container with empty name, it says ok:

    Right ()

I also get `Right ()` when I supply container id that does not exist on my host.

    Client:
     Version:      1.13.1
     API version:  1.26
     Go version:   go1.9.1
     Git commit:   092cba3
     Built:        Sat Oct 14 16:54:40 2017
     OS/Arch:      linux/amd64

    Server:
     Version:      1.13.1
     API

[2017-10-28 14:16] portnov commented on #41
If I supply correct container name, it actually works and returns `Right ()` as expected.

[2017-10-29 18:07] SKoschnicke commented on #41
Yes, this seems wrong. The docker API returns 404 for a not existing id:

[code]

or a 301 for an empty container id:

[code]

[2017-10-30 19:15] SKoschnicke opened #45 "Expose verbose error messages from Docker API"
Currently, only the HTTP status code and the standard HTTP description for this code is returned on API errors. But the Docker API also always returns some JSON with a `message` attribute holding a more verbose description of the error which occurred. This description would be helpful for debugging and should also be returned in the `DockerError` structure.

[2017-11-01 10:40] #41 closed

[2017-11-01 11:31] denibertovic commented on #39
@locallycompact Thanks to @jprider63 and @SKoschnicke this should work now. At least I can't reproduce it anymore. I've also added an integration test that tests this endpoint. Please verify that it works for you and I'll cut a new release. (Thanks for reporting)

[2017-11-01 11:32] denibertovic commented on #39
@jprider63 To answer your question about what this endpoint returns....it's basically a streaming endpoint of logs while the image is building.... Last time I checked anyway

[2017-11-01 11:33] denibertovic commented on #45
@SKoschnicke I agree that this would be very useful. Do you want to try and take a stab at this?

[2017-11-01 12:16] SKoschnicke commented on #45
Yes, but I'm not sure if I find time for this in the next days. If someone wants to work on this before me, he/she could comment here and start with it. Otherwise, I will add a notice as soon as I get to it.

[2017-11-01 13:57] denibertovic commented on #45
That is fine, I'm a bit swamped currently as well. But lets coordinate here.

[2017-11-15 12:00] liff opened #46 "listContainers fails with DockerClientDecodeError"
## Environment

- Docker CE 17.09.0-ce-mac35 (19611)

## Example code

[code]

Results in:

[code]

From what I can tell, the JSON decoder expects the `Container` JSON  to look something like:

[code]

but it's just:

[code]

Relevant lines:
 - [`Types.hs:532`](https://github.com/denibertovic/docker-hs/blob/master/src/Docker/Client/Types.hs#L523)
 - [`Types.hs:377`](https://github.com/denibertovic

[2017-11-15 12:55] denibertovic commented on #39
I'm gonna close this since  we have a test case for it and it passes. Feel free to re-open if something is still not working.

[2017-11-15 12:55] #39 closed

[2017-11-16 22:32] denibertovic commented on #46
Hey @liff  Thanks for the bug report. I have written a test and can confirm that this is indeed an issue. I haven't had time to fix the issue yet but my hope is that I will get it done over the weekend.

[2017-11-16 22:38] jprider63 commented on #46
@denibertovic Could you share your test/the full JSON response? We should add this to the integration tests.

[2017-11-16 22:54] jprider63 commented on #46
I pushed a potential fix to my branch. Can you check if this works for you?

@denibertovic can you add your test to the integration tests?

[2017-11-16 22:56] denibertovic commented on #46
@jprider63 Pushed to branch deni/listcontainers....there is an issue with parsing status as well...

[2017-11-16 22:58] denibertovic commented on #46
@jprider63 I was heading offline now but I will give it a go again tomorrow and check out your fix. Thanks for your help!

[2017-11-23 23:39] denibertovic commented on #46
Yeah this is gonna take a while...The whole API changed a bunch.

[2017-11-26 16:39] jprider63 commented on #46
Don't we always call the 1.24 endpoint? How has the API changed?

[2017-12-05 14:02] pparkkin commented on #46
Any update on this? Anything I can do to help?

[2017-12-06 14:41] denibertovic commented on #46
@jprider63 This is what happens when I look at the code without enough coffee in me. You are of course right. And I was looking at the docs for the latest API. However the status parsing is still failing and I haven't gotten to the bottom of it. @pparkkin I will take a crack at it again later tonight and will post back here.

[2017-12-06 16:02] denibertovic commented on #46
Looking at the debug logs again it appears that they did indeed break v1.24 API. :/ The docs are wrong as well. And I'm unable to get the debug output from the docker daemon like I could before.  Specifically the API raw output is not logged anymore.

[2017-12-14 15:43] denibertovic commented on #46
I couldn't actually get the docker daemon to print out raw API output, and the docs are wrong, so I had to capture network traffic with Wireshark (this is what it's come to). Just an FYI.

I think I got this working in the `bug/listcontainers` branch but I'm not happy with the solution. Specifically cause I got rid of the container Status data type and am just passing around text now. I think this

[2017-12-14 15:47] jprider63 commented on #46
If the 1.24 API is broken and the documentation is wrong, maybe we should file an issue upstream. It doesn't make sense for every Docker client to potentially break on new releases or have to reverse engineer the API.

[2017-12-14 16:16] denibertovic commented on #46
@jprider63 1.24 is practically ancient now...I'd like to be able to update to a newer API version. I doubt we will get much out of opening an issue upstream. :/

[2017-12-14 19:24] jprider63 commented on #46
I agree that we should update to the latest API version. What's the best way to do this? Only officially support one API version? Then we could add documentation stating which docker-hs versions correspond to which API versions. We could try to support multiple API versions at once, but this seems difficult since the data structures seem to be changing between releases and API versions.

I think i

[2017-12-15 01:22] pparkkin commented on #46
From what I can tell from the discussion here, it sounds like the data returned by the API has changed for `listContainers`, and possibly no longer conforms to the API spec for the version the library is targeting. Is that correct?

Do you have a sample of the changed data?

As far as reporting upstream, not sure if it will do much good, if the API version is very old. That said, the reason the AP

[2017-12-22 13:30] dschoepe opened #47 "Use exceptions instead of Either in Docker.Client.API"
I think the use of `Either DockerError x` as the return type of all the `Docker.Client.API.*` functions makes the API somewhat cumbersome to use, since it requires pattern-matching on each return value before using it.

Instead I would suggest throwing an exception whenever a `DockerError` is returned in the current version. I can volunteer to implement this change, but wanted to check if there wa

[2017-12-22 15:43] jprider63 commented on #47
Thanks for the request @dschoepe. Unfortunately, I'm against throwing exceptions in this situation. It makes control flow unintuitive and hides failure cases from the function types.

If you don't want to pattern match on every call, you could use the `ErrorT` monad transformer (it looks like this has been deprecated for `ExceptT`). You could also wrap the calls with a function that throws an exce

[2017-12-22 15:59] dschoepe commented on #46
According to the [documentation](https://docs.docker.com/engine/api/v1.24/#31-containers), what docker returns is in line with the specification for 1.24. The status parsing errors were a result of trying to parse `Status` instead of `State`. This also seems to be in line with the docs on the docker website. I submitted a PR to (hopefully) fix these issues.

[2018-01-08 23:53] denibertovic commented on #46
I believe this is fixed now! Thanks all!

[2018-01-08 23:53] #46 closed

[2018-01-08 23:59] denibertovic commented on #47
I'm with @jprider63 on this one. I like having the information about the failure in the types, at least for the docker client specific errors which we can always add more of, and I'm not convinced that using exceptions would make a cleaner API.... Though I could change my mind in the future, this is where I stand now.

[2018-01-09 00:00] denibertovic opened #51 "Rename Status to State"
@jprider63  Since we're actually parsing `State` from the API and not `Status` (which carries more information) should we rename our data type accordingly?

[2018-01-09 02:57] jprider63 commented on #51
Makes sense to me.

Docker returns `Status` too, although the documentation isn't very clear what this can be (The only example is `"Exit 0"`). Maybe we should consider adding it. For now we could implement it as a `Maybe String` and consider adding parsing for it in the future.

[2018-01-09 14:23] denibertovic commented on #51
Sounds good to me. Do you wanna take it or should I? I think I could have a PR tomorrow or so.

[2018-01-09 15:56] jprider63 commented on #51
I can look at this now. I don't think it should take too long.

[2018-01-09 16:11] denibertovic commented on #51
@jprider63 go for it. Thanks,

[2018-01-09 16:13] jprider63 commented on #51
I figured out why we called it `Status`. The "INSPECT A CONTAINER" endpoint returns the same type inside of `ContainerState`, but calls it `Status`. Maybe we should just leave the name as is? I can still add `"Status"` parsing to `Container`'s JSON instance.

[2018-01-09 16:27] jprider63 commented on #51
I've implemented this in #52. One thing we could do is try to come up with an unambiguous name for the `Status` type. I can't really think of any good names though. `ContainerStatus`? `Position`? `Lifecycle`?

[2018-01-10 15:45] denibertovic commented on #51
It's basically a description field where it will say things like "created", "Exited (137) 5 days ago" or "Up for 40 hours".

I think we should just rename the field `status` in `ContainerState` to `state`. And rename the `Status` datatype to `State` that way we hide the docker API missmatch from the user. We only need to be aware of it during parsing (ie. get ContainerState.state from State->Statu

[2018-01-10 19:30] jprider63 commented on #51
Makes sense. I updated the PR.

[2018-01-10 21:38] denibertovic commented on #51
Closed via #52

[2018-01-10 21:38] #51 closed

[2018-01-24 13:58] denibertovic opened #53 "Add integration tests for each endpoint"
We need an integration test for each endpoint we're targeting (to be sure it actually works and doesn't break on different docker/api versions).

[2018-01-24 13:59] #47 closed

[2018-02-22 19:55] denibertovic opened #54 "Bump http-conduit"
@jprider63  Regarding: https://github.com/fpco/stackage/issues/3204

I'm fine with breaking compatibility to be honest. What do you think?

[2018-02-22 19:59] denibertovic commented on #54
@jprider63 btw I looked at: https://github.com/jprider63/docker-hs/commit/527cb52fb534b3cb808f23c83c07ab2054479a46

but I'm not sure how it's supposed to work since we have to add `http-conduit-2.3.0` to `stack.yaml`'s `extra-deps` to use that version and not the version in the snapshot.

[2018-02-22 20:14] jprider63 commented on #54
We can break compatibility if we need to, but I'd prefer not to if we don't have to. Another option is we could always include unliftio-core as a dependency, which I think is not great, but better than breaking compatibility.

That commit attempts (and fails) to provide successful builds no matter which version of http-conduit is linked against. It should work whether you add `http-conduit-2.3.0`

[2018-02-22 20:23] denibertovic commented on #54
@jprider63 OK agreed. If it's relatively simple to keep backwards compatibility then yes we should try to.

[2018-02-23 21:51] denibertovic commented on #54
Thanks @jprider63 Closing this.

[2018-02-23 21:51] #54 closed

[2018-03-28 12:09] epicallan opened #58 "Noticed there is no api method for renaming a docker container"
Should I submit a PR to add an API method for [renaming docker container](https://docs.docker.com/engine/api/v1.36/#operation/ContainerRename).

[2018-04-02 05:14] jprider63 commented on #58
Hi @epicallan! We'd welcome a PR that implements this. Please include an integration test if you do.

It looks like this was added in API version 1.25, so we'd have to update the version we support. Hopefully this won't break compatibility with the rest of the endpoints.

[2018-06-09 00:42] benperez opened #60 "Ideas for new functionality"
First of all, just wanted to say thanks for putting this library together. I've been using it for a few weeks and it works great. I'm primarily using it to programmatically `build`, `tag` and `push` docker images on an Amazon EC2 instance to a private ECR registry.

I've added a few pieces of functionality in my fork that I'd be happy to merge back in but I wanted to run the implementations by you

[2018-06-18 19:13] jprider63 commented on #60
Hi @benperez. Support for tagging and pushing images would definitely be appreciated. I think we'd need to be careful in parsing and validating inputs (we probably shouldn't just accept `Text`s).

I think @denibertovic and I would probably need to discuss these bigger API changes. What's your motivation for switching to `MonadUnliftIO`?

For authentication, I wonder if it makes sense to let the us

[2018-06-19 14:47] denibertovic commented on #58
Thanks @epicallan ! As @jprider63 mentioned we'd appreciate your PR. Let us know if you need any help.

[2018-06-19 14:58] denibertovic commented on #60
@benperez This is great. We'd definitely appreciate the above changes. A couple of points:

* I agree with @jprider63 that it would make sense to use newtypes in the push/tag endpoints
* I'm definitely in favor of MonadUnliftIO but as @jprider63 mentioned we'd have to think about what this does in terms of breaking changes and how easy it is to migrate. _I think_ it shouldn't be a problem.
* I'm s

[2018-06-19 15:54] epicallan commented on #58
I have just really been busy lately. Will schedule to do this sometime this week. Thanks

[2018-06-21 00:54] benperez commented on #60
Thanks for the feedback. I'll clean up code I have now and open a couple of PR's in the next few days (time permitting) for the following:

1. `tag` and `push` with `newtype` wrappers and some integration tests to show their use.
2. A cleaned up version of auth so I can show a clearer picture of what I was envisioning.

I think I can hold off on the `MonadUnliftIO` stuff for now. I threw that in m

[2018-08-08 16:38] ababkin opened #64 "Left (DockerClientDecodeError "Error in $[0].Id: ContainerID is not an object.")"
getting this when trying to list containers with `listContainers defaultListOpts`

it lists images however just fine with same setup but `listContainers` substituted with `listImages`

This is on OSX HighSierra 10.13.6
Docker for OSX: Version 18.06.0-ce-mac69 (26398)

this is what curling the endpoint looks like if this helps:
[code]
so the `Id` is clearly in the json object returned

any other wa

[2018-08-10 22:25] jprider63 commented on #64
Hi @ababkin. Could you paste the full JSON string? I don't have your version.

[2018-08-11 15:54] ababkin commented on #64
Just realized that I only got this error on the old version of stackage LTS. It works fine in LTS 12.5. Thanks.

[2018-08-11 15:54] #64 closed

[2019-03-15 11:04] denibertovic opened #66 "Try and generate the whole api from a swagger spec"
This is a huge undertaking and a major breaking change but it would cover the entire api in one single swoop.

[2020-02-17 17:03] esjmb opened #72 "building against LTS 15.0"
Hi,

docker will not presently build as a dependency in projects using LTS-15.0, but there is an easy fix.

Line 1567 of src/Docker/Client/Types.hs, function parseIntegerText, just add MonadFail m to signature:

[code]

thanks for the great work,
Stephen.

[2020-02-18 00:42] jprider63 commented on #72
Thanks @esjmb! I just made PR #73 that includes this. I'll merge it once CI passes.

[2020-02-18 13:13] #72 closed

[2020-02-18 13:14] jprider63 commented on #72
@denibertovic can you deploy the new version?

[2020-02-19 22:33] denibertovic commented on #72
@jprider63 done! :)

[2020-02-20 01:25] denibertovic commented on #66
I'm revisiting this idea again. The tools for generating this have gotten better and I was able to compile a generated docker engine api. While it was not without difficulty this approach shows promise. cc @jprider63

[2020-02-24 18:42] ilyakooo0 opened #74 "Non-streaming log api"
The non-streaming log API doesn't return a normal bytestring. It returns the string encoded in some way that I couldn't manage to google.

This is the only place I could find how to decode it: https://github.com/mafintosh/docker-raw-stream

[2020-02-24 18:44] ilyakooo0 commented on #74
Actually, it looks like the streaming API suffers from the same problem

[2020-02-24 19:00] ilyakooo0 commented on #74
looks like it's a length-encoded string (did dive into the javascript yet, might be wrong)

[2020-04-02 03:42] jprider63 opened #77 "CI is broken"
CI is [broken](https://travis-ci.org/github/denibertovic/docker-hs/builds/669923956).

[2020-04-06 01:19] mbg opened #78 "defaultHttpHandler and unixHttpHandler use ResponseTimeoutDefault"
Both `defaultHttpHandler` and `unixHttpHandler` use `defaultManagerSettings` for which `responseTimeout = ResponseTimeoutDefault`. This just came to bite me when I used the `waitContainer` API with a non-trivial container task. It seems that the `/wait` API does not send a response until the container has stopped, so using `ResponseTimeoutDefault` does not make much sense here. I am wondering whet

[2020-04-13 21:55] denibertovic commented on #77
Yeah I've looked at that a while ago. I'm actually thinking of not supporting old version of docker like we're currently doing. The API is versioned anyway. And I'd much rather this works with newer version than older ones that probably nobody is using. I'm also thinking about dropping support for older GHC releases.

I need to dig up the branch I was testing in and merge it.

[2021-01-07 23:13] thoaionline opened #80 "inspectContainer fails when using unixHttpHandler"
`inspectContainer` is failing with

[code]

Another call `createContainer` seems to work fine under the same `DockerT` context.

[2021-01-07 23:36] thoaionline commented on #80
#68 looks like the cure for this, the field can be null when returned from the API.

[2021-03-23 22:32] jprider63 commented on #80
Fixed with #81. Thanks for the report!

[2021-03-23 22:32] #80 closed

[2021-04-24 19:50] RobertFischer opened #82 "Support Private Registries (esp. AWS ECR)"
There's a `TODO` in the Haddocks on `pullImage`:  https://hackage.haskell.org/package/docker-0.6.0.5/docs/Docker-Client-Api.html#v:pullImage I'd like to take a swing at the second of those, and then the first.  Any thoughts/suggestions/recommendations/requirements on the implementation?

[2021-11-21 11:38] bitc opened #85 "`memorySwap` in createContainer seems to be ignored"
I haven't investigated this thoroughly, but it appears that the `memorySwap` configuration documented here:

<https://hackage.haskell.org/package/docker-0.6.0.6/docs/Docker-Client-Types.html#t:ContainerResources>

seems to be ignored by docker, and when inspecting the running container it always has:

    "MemorySwap": -1,

I will try to investigate further, but I am posting this here in the meant

[2022-01-06 18:48] paolino opened #86 "inspectContainer fails decoding"
hello
I get 2 errors inspecting containers

- ` [WARN] DockerClientDecodeError "Error in $.Config.Cmd: parsing [] failed, expected Array, but encountered Null"`
- `[WARN] DockerClientDecodeError "Error in $.Config: key \"StopSignal\" not found"`

[code]

where should I look to fix them? any hint very appreciated

[2022-01-07 03:49] jprider63 commented on #86
Hi @paolino. If you want to fix this, you probably need to modify the [`FromJSON` instance for `ContainerConfig`](https://github.com/denibertovic/docker-hs/blob/78ecdadb8b307cb50b4c98435a8eb99c57c69506/src/Docker/Client/Types.hs#L1545) to parse a null `"Cmd"` as `[]`. For `"StopSignal"`, I'm not sure what should be returned if the key isn't provided. Maybe `SIGTERM` since the [API](https://docs.do

[2022-01-07 10:34] paolino commented on #86
Hi I changed almost all [x] to a newtype to support 'null'  encoding.  It's quite an invasive change because it was detecting this all over the ContainerConfig encoding. I have 100 containers in production which slowly made me fix the [x] . But I haven't checked the API docs.

[2022-03-14 12:48] vst opened #90 "Missing Container State: removing"
By luck (or not), we have seen this:

[code]

This was thrown while the client requested the state of a container that was being removed.

[2022-03-19 19:20] jprider63 commented on #77
#87 switched to us github actions. We should improve it to run docker integration tests with `RUN_INTEGRATION_TESTS=1`.

[2022-04-01 13:13] denibertovic commented on #77
Thank all. Closing.

[2022-04-01 13:13] #77 closed

[2022-07-21 02:13] jprider63 commented on #90
Sorry for the delay. This should be fixed with #101. Can you let us know if that works for you?

[2022-07-21 02:33] vst commented on #90
Looks good to me. I do not know if I can reproduce that state easily, but I will give it a try today.

[2022-07-21 03:05] jprider63 commented on #90
Ok, let us know. It's simple enough that I'm fine with merging. Thanks for the report!

[2022-07-21 03:05] #90 closed

[2022-07-21 03:08] vst commented on #90
Agreed. Thanks a lot for attending it.